@charset "UTF-8";
/* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul,
ol {
  padding: 0;
  margin: 0;
  list-style: none;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a {
  color: inherit;
  text-decoration: none;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

body {
  font-family: "Rubik", sans-serif;
  font-weight: normal;
  font-size: 18px;
  line-height: 154%;
  color: #080029;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

.header__logo-link {
  display: block;
  z-index: 10;
}

.header {
  display: flex;
  margin-top: 25px;
  margin-left: 60px;
  margin-right: 60px;
  background: rgba(252, 252, 252, 0.02);
  border: 2px solid #f0f0f0;
  box-sizing: border-box;
  margin-bottom: 70px;
}
.header .header__profile {
  display: none;
}
.header .burger-icon {
  display: none;
}
.header .online-zoo {
  visibility: hidden;
  position: absolute;
  z-index: -1;
}
.header__wrapper {
  display: flex;
  justify-content: space-between;
  max-width: 1600px;
  width: 100%;
}
.header__logo {
  margin: 25px 100px 25px 18px;
  opacity: 1;
}
.header__nav {
  max-width: 800px;
  width: 100%;
  margin: 33px 30px 30px 0;
}
.header__menu {
  display: flex;
  justify-content: space-between;
}
.header__menu .active {
  font-weight: 500;
}
.header__menu .active:after {
  font-weight: 500;
  content: "";
  display: block;
  height: 1px;
  background: #080029;
}
.header__menu li:after {
  content: "";
  display: block;
  height: 1px;
  background: #080029;
  opacity: 0;
  transition: opacity 0.1s linear;
}
.header__menu li:not([class$=active]):hover::after {
  opacity: 1;
}
.header__menu li[class$=active]:after {
  opacity: 1;
}
.header .header__user-icon {
  margin: 19px 75px 19px 50px;
}

.oops {
  position: relative;
}
.oops .error__404 {
  position: absolute;
  z-index: -1;
  left: 50%;
  top: 2.5%;
  transform: translateX(-50%);
}
.oops .oops__error {
  padding-top: 1px;
}
.oops .error__title {
  margin-top: 100px;
  margin-bottom: 30px;
  font-family: "Merriweather", serif;
  text-align: center;
  font-weight: bold;
  font-size: 36px;
  line-height: 145%;
}
.oops .error__text {
  font-size: 24px;
  line-height: 154%;
  text-align: center;
  margin-bottom: 50px;
  font-weight: normal;
}
.oops .error__button {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  outline: none;
  background: #0f0049;
  border: none;
  color: #fcfcfc;
  padding: 20px 75px;
  border-radius: 5px;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
}
.oops .error__button:hover {
  cursor: pointer;
  background: #080029;
}
.oops .error__button:active {
  cursor: pointer;
  background: #150068;
}
.oops__video {
  margin-top: 180px;
  text-align: center;
}
.oops__video .video__text {
  margin: 0 auto;
  margin-top: 60px;
  font-size: 18px;
  line-height: 154%;
  color: #747474;
  margin-bottom: 60px;
  max-width: 425px;
}
.oops__video .video__link {
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #3888ff;
}

.footer {
  padding-top: 100px;
  padding-bottom: 60px;
  color: #bcbcbc;
  background-color: #0b0b0b;
}
.footer__content {
  display: flex;
  justify-content: space-between;
}
.footer .footer__inner {
  flex: 0 0 60%;
  display: flex;
  justify-content: space-between;
}
.footer .footer__inner .footer__navigation {
  margin-right: 0;
}
.footer .main__logo {
  margin-bottom: 200px;
}
.footer .logo__inner {
  display: flex;
  align-items: center;
}
.footer .logo__separat {
  font-size: 16px;
  line-height: 19px;
  color: #fcfcfc;
  margin: 0 24px;
}
.footer .nav__title {
  font-size: 22px;
  line-height: 26px;
  letter-spacing: 0.115em;
  color: #fcfcfc;
  margin-bottom: 40px;
}
.footer .nav__item {
  margin-bottom: 30px;
}
.footer .nav__item a {
  position: relative;
}
.footer .nav__item a:after {
  position: absolute;
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background: #fcfcfc;
  opacity: 0;
  transition: opacity 0.1s linear;
}
.footer .nav__item:hover {
  color: #fcfcfc;
}
.footer .nav__item a:hover::after {
  opacity: 1;
}
.footer__support {
  max-width: 340px;
}
.footer .support__title {
  font-size: 22px;
  line-height: 26px;
  letter-spacing: 0.115em;
  color: #fcfcfc;
  margin-bottom: 45px;
}
.footer .support__btn {
  margin-top: 40px;
  text-align: center;
  color: #fcfcfc;
  margin-bottom: 85px;
}
.footer .support__social ul {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  line-height: 24px;
}
.footer .social__item a {
  position: relative;
}
.footer .social__item a:after {
  position: absolute;
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background: #fcfcfc;
  opacity: 0;
  transition: opacity 0.1s linear;
}
.footer .social__item:hover {
  color: #fcfcfc;
}
.footer .social__item a:hover::after {
  opacity: 1;
}
.footer .support__btn {
  outline: none;
  background: transparent;
  border: 2px solid #fcfcfc;
  padding: 18px 73px;
  border-radius: 5px;
}
.footer .support__btn:hover {
  cursor: pointer;
}
.footer .support__btn:active {
  cursor: pointer;
  border-color: #3888ff;
}
.footer__copyright {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  line-height: 145%;
  color: #bcbcbc;
}

@media (max-width: 1800px) {
  .header {
    max-height: 70px;
  }
  .header .header__nav {
    margin: 20px 30px 0px 0;
  }
  .header .header__user-icon {
    margin: 13px 51px 13px 0px;
  }
  .header .header__logo {
    margin: 13px 50px 13px 18px;
    margin-right: 52px;
  }
  .header__menu {
    max-width: 680px;
    font-size: 18px;
  }

  .error__404 {
    max-width: 20%;
  }

  .oops {
    margin-top: 60px;
  }
  .oops .error__title {
    font-size: 28px;
    line-height: 145%;
  }
  .oops .error__text {
    font-size: 18px;
    line-height: 154%;
  }
  .oops .error__button {
    font-size: 16px;
    line-height: 19px;
  }
  .oops .video__text {
    font-size: 16px;
    line-height: 154%;
  }

  .footer {
    padding-top: 100px;
    font-size: 18px;
    line-height: 161%;
  }
  .footer .container {
    margin: 0 auto;
    max-width: 1120px;
  }
  .footer .footer__content {
    justify-content: flex-start;
    margin-bottom: 100px;
  }
  .footer .footer__logo {
    margin-right: 135px;
  }
  .footer .footer__navigation {
    margin-right: 295px;
  }
  .footer .main__logo {
    margin-bottom: 100px;
  }
  .footer .main__logo img {
    width: 80%;
  }
  .footer .logo__inner {
    display: block;
  }
  .footer .logo__separat {
    margin-left: 60px;
  }
  .footer .yem__logo {
    margin-bottom: 21px;
  }
  .footer .rss__logo {
    margin-top: 23px;
  }
  .footer .support__social ul {
    max-width: 380px;
    font-size: 22px;
    line-height: 26px;
  }
  .footer__copyright {
    margin-top: 41px;
  }
}
@media (max-width: 1199px) {
  .header {
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    margin: 0;
    max-height: 90px;
    z-index: 10;
    background-color: #fcfcfc;
  }
  .header .header__logo {
    z-index: 10;
    opacity: 1;
  }
  .header .burger-icon {
    margin-top: 25px;
    margin-right: 20px;
    display: flex;
    z-index: 5;
    position: relative;
    width: 55px;
    height: 35px;
    cursor: pointer;
    justify-content: flex-end;
  }
  .header .burger-icon:before,
.header .burger-icon:after,
.header .burger-icon span {
    left: 0;
    position: absolute;
    height: 5px;
    width: 55px;
    transition: all 0.3s ease 0s;
    background-color: #0f0049;
    border-radius: 3px;
  }
  .header .burger-icon:before,
.header .burger-icon:after {
    content: "";
  }
  .header .burger-icon:before {
    top: 0;
  }
  .header .burger-icon:after {
    bottom: 0;
  }
  .header .burger-icon span {
    top: 50%;
    transform: scale(1) translate(0px, -50%);
  }
  .header .burger-icon.active span {
    transform: scale(0);
  }
  .header .burger-icon.active:before {
    top: 47%;
    transform: rotate(-45deg) translate(0px, -50%);
  }
  .header .burger-icon.active:after {
    bottom: 50%;
    transform: rotate(45deg) translate(0px, 50%);
  }
  .header .header__user-icon {
    display: none;
  }
  .header .header__menu {
    font-size: 24px;
    line-height: 28px;
  }
  .header .header__wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    max-height: 510px;
    height: 100%;
    background-color: #fcfcfc;
    padding: 100px 30px 30px 30px;
    left: -110%;
    transition: left 0.3s ease 0s;
    overflow: auto;
  }
  .header .header__wrapper .header__profile {
    display: block;
  }
  .header .header__wrapper .header__nav {
    text-align: center;
    max-width: none;
    margin: 0;
  }
  .header .header__wrapper .header__nav ul {
    margin: 0 auto;
    display: block;
    max-width: 130px;
  }
  .header .header__wrapper .header__nav ul li {
    margin-bottom: 40px;
  }
  .header .header__wrapper .header__nav ul li:last-child {
    margin-bottom: 0;
  }
  .header .header__wrapper .header__nav ul li:after {
    background: #3888ff;
  }
  .header .header__wrapper.active {
    left: 0;
  }
  .header .header__wrapper:before {
    content: "";
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    height: 70px;
    background-color: #fcfcfc;
    z-index: 2;
  }

  .oops__video iframe {
    width: 830px;
    height: 470px;
  }

  .oops {
    margin-top: 90px;
  }
  .oops .error__404 {
    top: 5.5%;
    max-width: 30%;
  }
  .oops .error__title {
    font-size: 26px;
    line-height: 145%;
  }
  .oops .error__text {
    font-size: 16px;
    line-height: 154%;
  }
  .oops .error__button {
    font-size: 16px;
    line-height: 19px;
  }
  .oops .video__text {
    font-size: 14px;
    line-height: 154%;
    max-width: 420px;
  }

  .footer {
    padding-top: 78px;
  }
  .footer_logo {
    display: flex;
  }
  .footer .footer__content {
    flex-direction: column;
    margin-bottom: 31px;
  }
  .footer .footer__logo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 60px;
    margin-left: 20px;
    margin-right: 105px;
  }
  .footer .footer__logo .main__logo {
    margin-bottom: 0;
    margin-right: 67px;
  }
  .footer .footer__logo .yem__logo {
    margin-top: 29px;
    margin-left: 12px;
    margin-bottom: 0;
  }
  .footer .footer__logo .logo__separat {
    margin: 0 30px;
    margin-top: 20px;
  }
  .footer .footer__logo .rss__logo {
    margin-top: 30px;
    margin-right: 42px;
  }
  .footer__inner {
    margin-left: 20px;
    margin-right: 70px;
  }
  .footer .logo__inner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .footer .support__btn {
    margin-bottom: 60px;
  }
  .footer .nav__item {
    line-height: 154%;
  }
  .footer .nav__item,
.footer .support__text,
.footer .support__btn {
    font-size: 16px;
  }
  .footer .social__item {
    font-size: 18px;
  }
  .footer .support__title {
    margin-bottom: 25px;
  }
  .footer .support__btn {
    margin-top: 33px;
    padding: 14px 77px;
    border-radius: 5px;
    margin-bottom: 46px;
  }
  .footer hr {
    max-width: 600px;
    margin-bottom: 20px;
  }
  .footer__copyright {
    max-width: 600px;
    font-size: 14px;
    margin: 0 auto;
  }
}
@media (max-width: 900px) {
  .oops__video iframe {
    width: 600px;
    height: 338px;
  }
}
@media (max-width: 639px) {
  .header {
    max-height: 70px;
  }
  .header__logo {
    margin: 0;
    margin-top: 20px;
    margin-left: 10px;
    width: 38px;
  }
  .header .burger-icon {
    margin-top: 20px;
    margin-right: 10px;
    max-width: 35px;
    max-height: 25px;
  }
  .header .burger-icon:before, .header .burger-icon:after, .header .burger-icon span {
    width: 35px;
  }
  .header .header__menu {
    font-size: 18px;
    line-height: 21px;
  }
  .header .header__wrapper .header__nav ul {
    max-width: 92px;
  }

  .oops__video iframe {
    width: 300px;
    height: 169px;
  }

  .oops .error__404 {
    top: 6.5%;
    max-width: 60%;
  }
  .oops .error__title {
    font-size: 20px;
    line-height: 145%;
  }
  .oops .error__text {
    font-size: 14px;
    line-height: 154%;
  }
  .oops .error__button {
    font-size: 14px;
    line-height: 19px;
  }
  .oops .video__text {
    font-size: 12px;
    line-height: 154%;
    max-width: 262px;
  }

  .footer {
    padding-top: 60px;
  }
  .footer .footer__content {
    position: relative;
    display: flex;
    flex-direction: row;
  }
  .footer .footer__content .footer__inner {
    flex-wrap: wrap;
    margin: 0;
  }
  .footer .footer__inner {
    flex: 0 0 47%;
  }
  .footer .footer__logo {
    margin: 0;
    flex-direction: column;
    justify-content: start;
    margin-right: 85px;
    margin-left: 10px;
  }
  .footer .footer__logo .logo__inner {
    flex-direction: column;
  }
  .footer .footer__logo .main__logo {
    margin: 0;
    margin-bottom: 100px;
  }
  .footer .footer__logo .yem__logo,
.footer .footer__logo .rss__logo,
.footer .footer__logo .logo__separat {
    margin: 0;
  }
  .footer .footer__logo .logo__separat {
    margin-top: 11px;
    margin-bottom: 20px;
    margin-right: -4px;
  }
  .footer .footer__support {
    margin: 0 10px;
    max-width: 292px;
    margin-top: 40px;
    position: absolute;
    top: 100%;
    left: 0;
    text-align: center;
  }
  .footer hr {
    max-width: 300px;
    margin-top: 331px;
    margin-bottom: 20px;
  }
  .footer .nav__title,
.footer .support__title {
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.115em;
  }
  .footer .nav__item,
.footer .support__text {
    font-size: 14px;
    line-height: 154%;
  }
  .footer .nav__title {
    margin-bottom: 25px;
  }
  .footer .nav__item {
    margin-bottom: 22px;
  }
  .footer .support__btn {
    padding: 15px 73px;
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 42px;
  }
  .footer .support__title {
    margin-bottom: 30px;
  }
  .footer .social__item {
    font-size: 14px;
    line-height: 17px;
  }
  .footer__copyright {
    font-size: 11px;
    line-height: 145%;
    max-width: 300px;
    flex-direction: column;
  }
  .footer__copyright .copyright {
    order: 2;
  }
  .footer__copyright .designed {
    margin-bottom: 10px;
    order: 1;
  }
}