.modal__form {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 350px;
  .input__field {
    background-color: #e9e9e9;
    padding: 8px 0px 8px 50px;
    position: relative;
    margin-bottom: 15px;
    margin-left: 20px;
    max-width: 330px;
    border-bottom: 1px solid #5d5d5d;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }

  .input__field.succsess {
    border: 2px solid #09ba43;
  }

  .input__field.failed {
    border: 2px solid #e92424;
  }

  input {
    background-color: #e9e9e9;
    margin-top: 20px;
    border: none;
    outline: none;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.15px;
    color: rgba(0, 0, 0, 0.87);
    max-width: 250px;
    width: 100%;
  }
  input::placeholder {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.15px;
    color: rgba(0, 0, 0, 0.45);
  }

  label {
    position: absolute;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.4px;
    color: rgba(0, 0, 0, 0.38);
  }
}
