.card-container {
  margin: 1%;
  flex: 1 0 20%;
  display: flex;
  justify-content: space-around;
  align-items: center;

  perspective: 25rem;
  cursor: pointer;

  &:hover > .card {
    transform: translateZ(2rem);
    box-shadow: 0 0.5rem 1rem black;
  }

  &.flipped > .card {
    transform: rotateY(180deg) translateX(-100%);
    transform-origin: left;
  }
}

.card-container.big {
  flex: 1 0 15%;
}

.card.big {
  width: 8rem;
  height: 9rem;
}

.card {
  position: relative;
  width: 10rem;
  height: 11rem;
  transition: all 0.3s;
  transform-style: preserve-3d;
  transform-origin: right;
  border-radius: 0.5rem;
  box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.5);

  &__front,
  &__back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: inherit;
    background-position: center;
    background-size: cover;
  }

  &__front {
    background-color: crimson;
  }

  &__back {
    background-color: gray;
    background-image: url(../../assets/card-back.png);

    transform: rotateY(180deg);
  }
}
.card.succsess {
  .card__color {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(71, 255, 126, 0.6);
    transition: background-color 0.1s linear;
  }
}
.card.failed {
  .card__color {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 71, 71, 0.6);
    transition: background-color 0.1s linear;
  }
}
