.header {
  background-color: #2196f3;
  max-width: 100%;
  width: 100%;
  min-height: 65px;
  display: flex;
  justify-content: space-between;

  &__logo {
    width: 80px;
    height: 40px;
    background-image: url('../../assets/Logo.png');
    border: none;
    margin-top: 12px;
    margin-left: 24px;
    cursor: pointer;
  }

  &__menu {
    display: flex;
    max-width: 300px;
    width: 100%;
  }
  &__item {
    position: relative;
    max-width: 100px;
    padding-top: 10px;
    width: 100%;
    cursor: pointer;

    a {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      font-size: 14px;
      line-height: 15px;
      margin-top: 30px;
      width: 100%;

      text-align: center;
      letter-spacing: 0.4px;
      color: #fff;
      text-decoration: none;
    }
  }
  &__item:hover {
    background-color: #1e88e5;
  }
  &__item.active {
    background-color: #1e88e5;
  }

  .item__logo {
    position: absolute;
    top: -450%;
    left: 50%;
    transform: translateX(-50%);
    padding: 37px;
  }

  .register__btn {
    background: #f2f9fe;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2), 0px 1px 18px rgba(0, 0, 0, 0.12),
      0px 6px 10px rgba(0, 0, 0, 0.14);
    border-radius: 4px;
    color: #2196f3;
    font-weight: 500;
    font-size: 15px;
    line-height: 16px;
    padding: 10px 15px;

    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 1.25px;
    text-transform: uppercase;
    max-height: 40px;
    margin-top: 9px;
    margin-right: 20px;
    border: none;
    cursor: pointer;
    text-decoration: none;
  }

  .hidden-btn {
    display: none;
  }
}
