@charset "UTF-8";
/* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul,
ol {
  padding: 0;
  margin: 0;
  list-style: none;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a {
  color: inherit;
  text-decoration: none;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

body {
  font-family: "Rubik", sans-serif;
  font-weight: normal;
  font-size: 18px;
  line-height: 154%;
  color: #080029;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

.social__nav-map {
  display: none;
  z-index: 2;
}

.header__logo-link {
  display: block;
  opacity: 0;
  z-index: 10;
}

.header {
  display: flex;
  margin-top: 25px;
  margin-left: 60px;
  margin-right: 60px;
  background: rgba(252, 252, 252, 0.02);
  border: 2px solid #f0f0f0;
  box-sizing: border-box;
  margin-bottom: 70px;
}
.header .header__profile {
  display: none;
}
.header .burger-icon {
  display: none;
}
.header .online-zoo {
  visibility: hidden;
  position: absolute;
  z-index: -1;
}
.header__wrapper {
  display: flex;
  justify-content: space-between;
  max-width: 1600px;
  width: 100%;
}
.header__logo {
  margin: 25px 100px 25px 18px;
  opacity: 1;
}
.header__nav {
  max-width: 800px;
  width: 100%;
  margin: 33px 30px 30px 0;
}
.header__menu {
  display: flex;
  justify-content: space-between;
}
.header__menu .active {
  font-weight: 500;
}
.header__menu .active:after {
  font-weight: 500;
  content: "";
  display: block;
  height: 1px;
  background: #080029;
}
.header__menu li:after {
  content: "";
  display: block;
  height: 1px;
  background: #080029;
  opacity: 0;
  transition: opacity 0.1s linear;
}
.header__menu li:not([class$=active]):hover::after {
  opacity: 1;
}
.header__menu li[class$=active]:after {
  opacity: 1;
}
.header .header__user-icon {
  margin: 19px 75px 19px 50px;
}

.social {
  position: fixed;
  display: flex;
  flex-direction: column;
  max-height: 760px;
  max-width: 90px;
  top: 25px;
  left: 60px;
  background: #ffffff;
  border: 2px solid #f0f0f0;
  box-sizing: border-box;
}
.social__nav {
  text-align: center;
  margin-top: 50px;
}
.social__logo {
  padding: 25px 19px;
}
.social__arrow-up, .social__arrow-down {
  outline: none;
  border: none;
  background-color: transparent;
}
.social__arrow-down {
  margin-bottom: 40px;
}
.social__arrow-up:hover, .social__arrow-down:hover {
  cursor: pointer;
}
.social__arrow-up:hover path, .social__arrow-down:hover path {
  fill: #0f0049;
}
.social__menu {
  display: flex;
  flex-direction: column;
  text-align: -webkit-center;
  justify-content: space-between;
  min-height: 430px;
  margin-top: 50px;
  margin-bottom: 50px;
}
.social__menu li {
  position: relative;
}
.social__menu li a {
  z-index: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}
.social__menu li:after {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  content: "";
  display: block;
  opacity: 0;
  width: 50px;
  height: 50px;
  border: 2px solid #d9e8ff;
  border-radius: 50%;
  transition: opacity 0.1s linear;
}
.social__menu li.active:after {
  border: 2px solid #609fff;
  opacity: 1;
}
.social__menu li:hover {
  cursor: pointer;
}
.social__menu li:hover::after {
  opacity: 1;
}

.main__wrapper {
  margin-right: 40px;
  display: grid;
  grid-template-columns: 70% 30%;
  grid-template-rows: 10% 55% 10fr;
  grid-auto-rows: minmax(100px, auto);
  margin-left: 12%;
  margin-top: 60px;
}
.main__wrapper hr {
  display: none;
}
.main__wrapper .main__video {
  margin-right: 40px;
}
.main__wrapper .info__description {
  grid-column-start: 2;
  grid-column-end: 3;
}
.main__wrapper .info__title {
  display: flex;
  padding-bottom: 40px;
  margin-bottom: 40px;
  border-bottom: 2px solid #f0f0f0;
}
.main__wrapper .title__icon {
  margin-right: 20px;
}
.main__wrapper .title__description {
  margin-top: 7px;
}
.main__wrapper .title__title {
  font-size: 24px;
  line-height: 28px;
  color: #0b0b0b;
}
.main__wrapper .title__watch {
  color: #747474;
}
.main__wrapper .info__description {
  max-width: 405px;
}
.main__wrapper .info__description .description__title {
  font-family: "Merriweather", serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 145%;
  color: #080029;
  margin-bottom: 30px;
}
.main__wrapper .info__description .description__text {
  color: #747474;
  margin-bottom: 40px;
  max-width: 340px;
}
.main__wrapper .info__description .description__button {
  outline: none;
  background: #0f0049;
  border: none;
  color: #fcfcfc;
  padding: 20px 75px;
  border-radius: 5px;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
}
.main__wrapper .info__description .description__button:hover {
  cursor: pointer;
  background: #080029;
}
.main__wrapper .info__description .description__button:active {
  cursor: pointer;
  background: #150068;
}
.main__wrapper .cams {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 4;
}
.main__wrapper .cams .container {
  margin: 0;
}
.main__wrapper .cams__title {
  margin-bottom: 40px;
  font-family: "Merriweather", serif;
  font-weight: bold;
  font-size: 36px;
  line-height: 145%;
  cursor: pointer;
}
.main__wrapper .cams__title:after {
  content: "";
  display: inline-block;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 10px solid #080029;
  margin-left: 10px;
  margin-bottom: 2px;
}
.main__wrapper .cams__videos {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
  cursor: pointer;
}
.main__wrapper .cams__videos iframe {
  pointer-events: none;
}
.main__wrapper .cams__videos .video__item {
  position: relative;
}
.main__wrapper .cams__videos .hidden__item {
  position: absolute;
  display: none;
  width: 328px;
  height: 184px;
  z-index: 1;
  pointer-events: none;
}
.main__wrapper .cams__videos .hidden__item hr {
  width: 50%;
  color: #fcfcfc;
  border-style: solid;
}
.main__wrapper .cams__videos .hidden__item .viewers {
  font-family: "Merriweather", serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 145%;
  text-align: center;
  color: #fcfcfc;
}
.main__wrapper .cams__videos .hidden__item .viewers__link {
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #fcfcfc;
}
.main__wrapper .cams__videos .video__item:hover .hidden__item {
  display: block;
  margin-top: 50px;
}
.main__wrapper .cams__videos .video__item:hover iframe {
  filter: blur(2px) brightness(85%);
}
.main__wrapper .cams__title.disable {
  margin-top: 90px;
}

.slider__buttons {
  margin-bottom: 60px;
}
.slider__buttons .next,
.slider__buttons .prev {
  border: none;
  outline: none;
  background: transparent;
}
.slider__buttons .next:hover,
.slider__buttons .prev:hover {
  cursor: pointer;
}
.slider__buttons .next:active,
.slider__buttons .prev:active {
  transform: scale(0.9);
}

.facts {
  margin-top: 70px;
  margin-bottom: 100px;
}
.facts__title {
  font-family: "Merriweather", serif;
  font-weight: bold;
  font-size: 36px;
  line-height: 145%;
  margin-bottom: 30px;
}
.facts .active {
  color: #609FFF;
}
.facts hr.active {
  background-color: #609FFF;
}
.facts__text {
  font-size: 18px;
  line-height: 154%;
  color: #747474;
  max-width: 500px;
  margin-bottom: 45px;
}
.facts .tab__header {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}
.facts .tab__title {
  font-size: 26px;
  line-height: 145%;
  margin-bottom: 30px;
}
.facts .tab__more {
  border: none;
  outline: none;
  background: transparent;
}
.facts .tab__more img {
  margin-bottom: 25px;
}
.facts .tab__more:hover {
  cursor: pointer;
}
.facts .minus-btn {
  display: none;
}
.facts .plus-btn {
  display: block;
}
.facts .tab__details {
  margin-bottom: 30px;
}
.facts .tab__hidden__text {
  max-height: 0;
}
.facts .tab__hidden__text.disable {
  display: none;
}
.facts .hidden__text,
.facts .hidden__details {
  color: #747474;
  margin-bottom: 30px;
}
.facts hr {
  border: none;
  height: 1px;
  background-color: #D3D3D3;
  margin-bottom: 30px;
}

.pay-feed {
  margin-bottom: 142px;
}

.feed__wrapper {
  max-width: 1670px;
  width: 100%;
  margin: 0 auto;
}

.feed__inner {
  display: flex;
  justify-content: flex-end;
}

.feed__title {
  font-size: 22px;
  line-height: 26px;
  letter-spacing: 0.115em;
  color: #0b0b0b;
  margin-left: 255px;
  margin-top: 112px;
  margin-bottom: 85px;
}

.feed__item {
  display: flex;
}
.feed__item .item__inner {
  max-width: 450px;
}
.feed__item .item__title {
  font-family: "Merriweather", serif;
  font-weight: bold;
  font-size: 36px;
  line-height: 145%;
  color: #0f0049;
  margin-bottom: 30px;
}
.feed__item .item__text {
  color: #747474;
}
.feed__item .item__image {
  width: 100%;
  height: 100%;
}

.visa {
  margin-left: 18%;
}
.visa .item__image {
  max-width: 278px;
  height: 214px;
}

.arrow__inner {
  display: flex;
  justify-content: center;
}

.delivery .item__image {
  max-width: 312px;
  max-height: 312px;
  margin-right: 50px;
}
.delivery .item__inner {
  max-width: 440px;
  margin-top: 90px;
}

.feed__arrow1 {
  margin-bottom: 20px;
  max-width: 197px;
  max-height: 97px;
}

.feed__arrow2 {
  margin-bottom: 30px;
  margin-top: 150px;
  max-width: 240px;
  max-height: 195px;
}

.meeting .item__image {
  max-width: 284px;
  max-height: 243px;
  margin-left: 9%;
  margin-right: 3.6%;
}

.footer {
  padding-top: 100px;
  padding-bottom: 60px;
  color: #bcbcbc;
  background-color: #0b0b0b;
}
.footer__content {
  display: flex;
  justify-content: space-between;
}
.footer .footer__inner {
  flex: 0 0 60%;
  display: flex;
  justify-content: space-between;
}
.footer .footer__inner .footer__navigation {
  margin-right: 0;
}
.footer .main__logo {
  margin-bottom: 200px;
}
.footer .logo__inner {
  display: flex;
  align-items: center;
}
.footer .logo__separat {
  font-size: 16px;
  line-height: 19px;
  color: #fcfcfc;
  margin: 0 24px;
}
.footer .nav__title {
  font-size: 22px;
  line-height: 26px;
  letter-spacing: 0.115em;
  color: #fcfcfc;
  margin-bottom: 40px;
}
.footer .nav__item {
  margin-bottom: 30px;
}
.footer .nav__item a {
  position: relative;
}
.footer .nav__item a:after {
  position: absolute;
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background: #fcfcfc;
  opacity: 0;
  transition: opacity 0.1s linear;
}
.footer .nav__item:hover {
  color: #fcfcfc;
}
.footer .nav__item a:hover::after {
  opacity: 1;
}
.footer__support {
  max-width: 340px;
}
.footer .support__title {
  font-size: 22px;
  line-height: 26px;
  letter-spacing: 0.115em;
  color: #fcfcfc;
  margin-bottom: 45px;
}
.footer .support__btn {
  margin-top: 40px;
  text-align: center;
  color: #fcfcfc;
  margin-bottom: 85px;
}
.footer .support__social ul {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  line-height: 24px;
}
.footer .social__item a {
  position: relative;
}
.footer .social__item a:after {
  position: absolute;
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background: #fcfcfc;
  opacity: 0;
  transition: opacity 0.1s linear;
}
.footer .social__item:hover {
  color: #fcfcfc;
}
.footer .social__item a:hover::after {
  opacity: 1;
}
.footer .support__btn {
  outline: none;
  background: transparent;
  border: 2px solid #fcfcfc;
  padding: 18px 73px;
  border-radius: 5px;
}
.footer .support__btn:hover {
  cursor: pointer;
}
.footer .support__btn:active {
  cursor: pointer;
  border-color: #3888ff;
}
.footer__copyright {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  line-height: 145%;
  color: #bcbcbc;
}

@media (max-width: 1800px) {
  .header {
    max-height: 70px;
  }
  .header .header__nav {
    margin: 22px 30px 0px 13px;
  }
  .header .header__user-icon {
    margin: 13px 51px 13px 0px;
  }
  .header .header__logo {
    margin: 13px 50px 13px 18px;
    margin-right: 52px;
  }
  .header__menu {
    max-width: 779px;
    font-size: 18px;
  }

  .social {
    left: 40px;
    max-width: 70px;
  }
  .social__logo {
    padding: 17px 10px;
  }
  .social__menu {
    width: 70px;
    margin: 0;
    margin-top: 40px;
    margin-bottom: 40px;
    min-height: 368px;
  }
  .social__menu li img {
    width: 80%;
  }
  .social__nav {
    margin-top: 21px;
  }
  .social .social__arrow-down {
    margin-bottom: 22px;
  }

  .main__wrapper {
    margin-bottom: 44px;
    grid-template-columns: 59% 40%;
    grid-template-rows: 7% 45% 10fr;
    margin-left: 15.4%;
  }
  .main__wrapper hr {
    display: none;
  }
  .main__wrapper .main__video {
    margin-right: 30px;
  }
  .main__wrapper .main__video iframe {
    border-radius: 5px;
    width: 545px;
    height: 307px;
  }
  .main__wrapper .info__title {
    padding-bottom: 0;
    margin-bottom: 20px;
    border-bottom: none;
  }
  .main__wrapper .title__icon {
    margin-right: 12px;
  }
  .main__wrapper .title__icon img {
    width: 80%;
  }
  .main__wrapper .title__title {
    font-size: 20px;
    line-height: 24px;
  }
  .main__wrapper .title__watch {
    font-size: 16px;
    line-height: 154%;
  }
  .main__wrapper .title__watch svg {
    width: 16px;
    height: 16px;
  }
  .main__wrapper .info__description {
    max-width: 370px;
  }
  .main__wrapper .info__description .description__title {
    font-size: 22px;
    line-height: 145%;
    font-weight: bold;
    margin-bottom: 17px;
  }
  .main__wrapper .info__description .description__text {
    font-size: 16px;
    line-height: 154%;
    max-width: 360px;
    margin-bottom: 16px;
  }
  .main__wrapper .info__description .description__button {
    font-size: 16px;
    line-height: 19px;
    padding: 20px 46px;
  }
  .main__wrapper .cams .container {
    max-width: 831px;
  }
  .main__wrapper .cams .cams__title {
    font-size: 22px;
    line-height: 145%;
    margin-bottom: 31px;
  }
  .main__wrapper .cams .cams__videos {
    margin-bottom: 32px;
  }
  .main__wrapper .cams .cams__videos .video__item:nth-child(4) {
    display: none;
  }
  .main__wrapper .cams .cams__videos .video__item iframe {
    border-radius: 5px;
    width: 257px;
    height: 144px;
  }

  .slider__buttons {
    margin-bottom: 70px;
  }
  .slider__buttons svg {
    width: 56px;
    height: 56px;
  }

  .facts {
    margin-top: 20px;
  }
  .facts .container {
    max-width: 976px;
    margin-left: 185px;
  }
  .facts .tab__title {
    font-size: 24px;
    line-height: 145%;
  }
  .facts .facts__text {
    max-width: 510px;
    margin-bottom: 64px;
  }
  .facts .facts__text,
.facts .hidden__text,
.facts .tab__details {
    font-size: 16px;
    line-height: 154%;
  }

  .pay-feed {
    margin-bottom: 164px;
  }
  .pay-feed .feed__title {
    margin-left: 186px;
    margin-top: 104px;
  }
  .pay-feed .arrow__inner {
    display: none;
  }
  .pay-feed .feed__item {
    margin: 0 auto;
    display: flex;
    justify-content: center;
  }
  .pay-feed .feed__item .item__title {
    font-size: 28px;
    line-height: 145%;
  }
  .pay-feed .visa {
    margin-bottom: 80px;
  }
  .pay-feed .visa .item__inner {
    max-width: 430px;
  }
  .pay-feed .visa .item__image {
    margin-right: 60px;
    margin-left: 190px;
    max-width: 215px;
    height: auto;
  }
  .pay-feed .visa .item__title {
    margin-top: 13px;
    margin-bottom: 22px;
  }
  .pay-feed .delivery {
    margin-bottom: 80px;
  }
  .pay-feed .delivery .item__inner {
    max-width: 456px;
  }
  .pay-feed .delivery .item__image {
    margin-top: 35px;
    margin-left: 203px;
    max-width: 240px;
    height: auto;
    margin-right: 46px;
  }
  .pay-feed .delivery .item__title {
    margin-top: 10px;
    margin-bottom: 22px;
  }
  .pay-feed .meeting {
    margin-bottom: 80px;
  }
  .pay-feed .meeting .item__inner {
    max-width: 460px;
  }
  .pay-feed .meeting .item__image {
    margin-top: 49px;
    margin-left: 210px;
    max-width: 223px;
    height: auto;
  }
  .pay-feed .meeting .item__title {
    margin-top: 57px;
    margin-bottom: 22px;
    margin-left: 9px;
    max-width: 290px;
  }
  .pay-feed .meeting .item__text {
    margin-left: 5px;
  }
  .pay-feed .feed__title {
    font-size: 20px;
    line-height: 24px;
    margin-left: 185px;
    margin-top: 99px;
    margin-bottom: 120px;
  }

  .footer {
    padding-top: 100px;
    font-size: 18px;
    line-height: 161%;
  }
  .footer .container {
    margin: 0 auto;
    max-width: 1120px;
  }
  .footer .footer__content {
    justify-content: flex-start;
    margin-bottom: 100px;
  }
  .footer .footer__logo {
    margin-right: 135px;
  }
  .footer .footer__navigation {
    margin-right: 295px;
  }
  .footer .main__logo {
    margin-bottom: 100px;
  }
  .footer .main__logo img {
    width: 80%;
  }
  .footer .logo__inner {
    display: block;
  }
  .footer .logo__separat {
    margin-left: 60px;
  }
  .footer .yem__logo {
    margin-bottom: 21px;
  }
  .footer .rss__logo {
    margin-top: 23px;
  }
  .footer .support__social ul {
    max-width: 380px;
    font-size: 22px;
    line-height: 26px;
  }
  .footer__copyright {
    margin-top: 41px;
  }
}
@media (max-width: 1199px) {
  .header__logo-link {
    opacity: 1;
  }

  .social {
    display: none;
  }

  .social__nav-map {
    position: fixed;
    left: 0;
    top: 86%;
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin: 0;
    background-color: #fcfcfc;
    border-radius: 10px;
    margin-bottom: 69px;
    max-height: 80px;
    height: 100%;
  }
  .social__nav-map .social__arrow-up,
.social__nav-map .social__arrow-down {
    margin-top: 34px;
    max-height: 10px;
    padding: 0;
  }
  .social__nav-map .social__arrow-up {
    margin-left: 23px;
    transform: rotate(-90deg);
  }
  .social__nav-map .social__arrow-down {
    margin-right: 36px;
    transform: rotate(-90deg);
    margin-bottom: 0;
  }
  .social__nav-map .social__menu-map {
    padding-left: 42px;
    padding-top: 27px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 81.9%;
    height: auto;
    margin: 0;
    position: relative;
  }
  .social__nav-map .social__menu-map li a {
    position: relative;
  }
  .social__nav-map .social__menu-map li a img {
    width: 80%;
  }
  .social__nav-map .social__menu-map li:first-child {
    margin-left: 0;
  }
  .social__nav-map .social__menu-map li:before {
    top: 100%;
    left: 100%;
  }
  .social__nav-map .social__menu-map li:after {
    display: none;
  }

  .header {
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    margin: 0;
    max-height: 90px;
    z-index: 10;
    background-color: #fcfcfc;
  }
  .header .header__logo {
    z-index: 10;
    opacity: 1;
  }
  .header .burger-icon {
    margin-top: 25px;
    margin-right: 20px;
    display: flex;
    z-index: 5;
    position: relative;
    width: 55px;
    height: 35px;
    cursor: pointer;
    justify-content: flex-end;
  }
  .header .burger-icon:before,
.header .burger-icon:after,
.header .burger-icon span {
    left: 0;
    position: absolute;
    height: 5px;
    width: 55px;
    transition: all 0.3s ease 0s;
    background-color: #0f0049;
    border-radius: 3px;
  }
  .header .burger-icon:before,
.header .burger-icon:after {
    content: "";
  }
  .header .burger-icon:before {
    top: 0;
  }
  .header .burger-icon:after {
    bottom: 0;
  }
  .header .burger-icon span {
    top: 50%;
    transform: scale(1) translate(0px, -50%);
  }
  .header .burger-icon.active span {
    transform: scale(0);
  }
  .header .burger-icon.active:before {
    top: 47%;
    transform: rotate(-45deg) translate(0px, -50%);
  }
  .header .burger-icon.active:after {
    bottom: 50%;
    transform: rotate(45deg) translate(0px, 50%);
  }
  .header .header__user-icon {
    display: none;
  }
  .header .header__menu {
    font-size: 24px;
    line-height: 28px;
  }
  .header .header__wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    max-height: 510px;
    height: 100%;
    background-color: #fcfcfc;
    padding: 100px 30px 30px 30px;
    left: -110%;
    transition: left 0.3s ease 0s;
    overflow: auto;
  }
  .header .header__wrapper .header__profile {
    display: block;
  }
  .header .header__wrapper .header__nav {
    text-align: center;
    max-width: none;
    margin: 0;
  }
  .header .header__wrapper .header__nav ul {
    margin: 0 auto;
    display: block;
    max-width: 130px;
  }
  .header .header__wrapper .header__nav ul li {
    margin-bottom: 40px;
  }
  .header .header__wrapper .header__nav ul li:last-child {
    margin-bottom: 0;
  }
  .header .header__wrapper .header__nav ul li:after {
    background: #3888ff;
  }
  .header .header__wrapper.active {
    left: 0;
  }
  .header .header__wrapper:before {
    content: "";
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    height: 70px;
    background-color: #fcfcfc;
    z-index: 2;
  }

  .main__wrapper {
    margin-top: 130px;
    margin-left: 20px;
    grid-template-columns: 73% 26%;
    grid-template-rows: 9% 32% 10fr;
  }
  .main__wrapper .main__video {
    margin-bottom: 41px;
    grid-row-start: 2;
    grid-row-end: 3;
  }
  .main__wrapper .main__video iframe {
    border-radius: 5px;
    width: 390px;
    height: 218px;
  }
  .main__wrapper .info__title {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
  }
  .main__wrapper .info__title .title__title {
    font-size: 16px;
    line-height: 19px;
  }
  .main__wrapper .info__title .title__watch {
    font-size: 14px;
    line-height: 154%;
  }
  .main__wrapper .info__description {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
    margin-top: 270px;
  }
  .main__wrapper .info__description .description__title {
    margin-bottom: 22px;
  }
  .main__wrapper .info__description .description__text {
    margin-bottom: 32px;
  }
  .main__wrapper .info__description .description__button {
    padding: 16px 32px;
  }
  .main__wrapper .title__icon {
    margin-right: 2px;
  }
  .main__wrapper .cams {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    margin-right: 20px;
  }
  .main__wrapper .cams .container {
    max-width: 831px;
  }
  .main__wrapper .cams .cams__title {
    margin-top: 23px;
    font-size: 22px;
    line-height: 145%;
    margin-bottom: 21px;
  }
  .main__wrapper .cams .cams__videos {
    display: flex;
    flex-direction: column;
    margin-bottom: 32px;
  }
  .main__wrapper .cams .cams__videos .video__item:nth-child(4) {
    display: none;
  }
  .main__wrapper .cams .cams__videos .video__item:nth-child(3) {
    display: none;
  }
  .main__wrapper .cams .cams__videos .video__item iframe {
    border-radius: 5px;
    width: 180px;
    height: 102px;
  }

  .slider__buttons {
    display: none;
    margin-bottom: 70px;
  }
  .slider__buttons svg {
    width: 56px;
    height: 56px;
  }

  .facts {
    margin-top: -230px;
  }
  .facts .container {
    max-width: 976px;
    margin: 0 20px;
  }
  .facts .facts__title {
    font-size: 26px;
    line-height: 145%;
    margin-bottom: 22px;
  }
  .facts .tab__title {
    font-size: 20px;
  }
  .facts .facts__text {
    max-width: 510px;
    margin-bottom: 51px;
  }
  .facts .facts__text,
.facts .hidden__text,
.facts .tab__details {
    font-size: 16px;
    line-height: 154%;
  }

  .pay-feed {
    margin-bottom: 110px;
  }
  .pay-feed .feed__title {
    margin-left: 0;
    text-align: center;
    margin-top: 80px;
    margin-bottom: 90px;
  }
  .pay-feed .feed__item {
    flex-direction: column;
  }
  .pay-feed .feed__item .item__title {
    font-size: 24px;
  }
  .pay-feed .feed__item .item__text {
    font-size: 18px;
    margin: 0 10px;
    max-width: 430px;
  }
  .pay-feed .feed__item .item__inner {
    text-align: center;
    margin: 0 auto;
    max-width: 600px;
  }
  .pay-feed .visa .item__title {
    margin-top: 58px;
  }
  .pay-feed .visa .item__image {
    max-width: 160px;
    height: auto;
    margin: 0 auto;
  }
  .pay-feed .delivery {
    margin-bottom: 97px;
  }
  .pay-feed .delivery .item__title {
    margin-top: 30px;
  }
  .pay-feed .delivery .item__image {
    max-width: 180px;
    height: auto;
    margin: 0 auto;
  }
  .pay-feed .meeting .item__image {
    max-width: 223px;
    height: auto;
    margin: 0 auto;
  }
  .pay-feed .meeting .item__title {
    margin: 0 auto;
    margin-top: 57px;
    margin-bottom: 28px;
  }

  .footer {
    padding-top: 78px;
  }
  .footer_logo {
    display: flex;
  }
  .footer .footer__content {
    flex-direction: column;
    margin-bottom: 31px;
  }
  .footer .footer__logo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 60px;
    margin-left: 20px;
    margin-right: 105px;
  }
  .footer .footer__logo .main__logo {
    margin-bottom: 0;
    margin-right: 67px;
  }
  .footer .footer__logo .yem__logo {
    margin-top: 29px;
    margin-left: 12px;
    margin-bottom: 0;
  }
  .footer .footer__logo .logo__separat {
    margin: 0 30px;
    margin-top: 20px;
  }
  .footer .footer__logo .rss__logo {
    margin-top: 30px;
    margin-right: 42px;
  }
  .footer__inner {
    margin-left: 20px;
    margin-right: 70px;
  }
  .footer .logo__inner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .footer .support__btn {
    margin-bottom: 60px;
  }
  .footer .nav__item {
    line-height: 154%;
  }
  .footer .nav__item,
.footer .support__text,
.footer .support__btn {
    font-size: 16px;
  }
  .footer .social__item {
    font-size: 18px;
  }
  .footer .support__title {
    margin-bottom: 25px;
  }
  .footer .support__btn {
    margin-top: 33px;
    padding: 14px 77px;
    border-radius: 5px;
    margin-bottom: 46px;
  }
  .footer hr {
    max-width: 600px;
    margin-bottom: 20px;
  }
  .footer__copyright {
    max-width: 600px;
    font-size: 14px;
    margin: 0 auto;
  }
}
@media (max-width: 639px) {
  .social__nav-map {
    max-height: 75px;
    margin: 0 auto;
  }
  .social__nav-map .social__menu-map {
    padding-left: 22px;
    padding-top: 27px;
  }
  .social__nav-map .social__arrow-up {
    margin-left: 1px;
  }
  .social__nav-map .social__arrow-down {
    margin-right: 16px;
  }

  .header {
    max-height: 70px;
  }
  .header__logo {
    margin: 0;
    margin-top: 20px;
    margin-left: 10px;
    width: 38px;
  }
  .header .burger-icon {
    margin-top: 20px;
    margin-right: 10px;
    max-width: 35px;
    max-height: 25px;
  }
  .header .burger-icon:before, .header .burger-icon:after, .header .burger-icon span {
    width: 35px;
  }
  .header .header__menu {
    font-size: 18px;
    line-height: 21px;
  }
  .header .header__wrapper .header__nav ul {
    max-width: 92px;
  }

  .main__wrapper {
    margin-top: 106px;
    margin-left: 10px;
    grid-template-columns: 100%;
    grid-template-rows: 5% 12% 10fr;
    margin-right: 10px;
  }
  .main__wrapper .info__title img {
    width: 65%;
  }
  .main__wrapper .info__title .title__description {
    margin-top: -4px;
  }
  .main__wrapper .info__title .title__description .title__title {
    font-size: 14px;
    line-height: 17px;
  }
  .main__wrapper .info__title .title__watch {
    font-size: 12px;
    line-height: 154%;
  }
  .main__wrapper .info__title .title__icon {
    margin-right: -10px;
  }
  .main__wrapper .main__video iframe {
    width: 300px;
    height: 168px;
  }
  .main__wrapper .info__description {
    margin-top: 520px;
    grid-row-start: 4;
    grid-row-end: 5;
  }
  .main__wrapper .cams {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
    margin-right: 20px;
  }
  .main__wrapper .cams .slider__buttons {
    display: block;
  }
  .main__wrapper .cams .cams__videos {
    flex-direction: row;
    justify-content: space-between;
  }
  .main__wrapper .cams .cams__videos .video__item {
    margin-right: 20px;
  }
  .main__wrapper .cams .cams__videos .video__item iframe {
    width: 141px;
    height: 80px;
  }
  .main__wrapper .cams .cams__videos .video__item:nth-child(2) {
    margin-right: 0;
  }

  .facts {
    margin-top: -450px;
  }
  .facts .container {
    margin: 0 10px;
  }
  .facts .facts__title {
    font-size: 20px;
    line-height: 145%;
    margin-bottom: 22px;
  }
  .facts .tab__title {
    font-size: 18px;
  }
  .facts .facts__text {
    max-width: 510px;
    margin-bottom: 51px;
  }
  .facts .facts__text,
.facts .hidden__text,
.facts .tab__details {
    font-size: 14px;
    line-height: 154%;
  }

  .pay-feed {
    margin-bottom: 0;
  }
  .pay-feed .feed__wrapper .feed__title {
    font-size: 16px;
    line-height: 19px;
    margin-top: 50px;
    margin-bottom: 60px;
  }
  .pay-feed .feed__wrapper .feed__item .item__title {
    font-size: 20px;
    line-height: 145%;
  }
  .pay-feed .feed__wrapper .feed__item .item__text {
    font-size: 14px;
    line-height: 154%;
  }
  .pay-feed .feed__wrapper .visa {
    margin-bottom: 29px;
  }
  .pay-feed .feed__wrapper .delivery {
    margin-bottom: 69px;
  }
  .pay-feed .feed__wrapper .meeting {
    margin-bottom: 64px;
  }
  .pay-feed .feed__wrapper .meeting .item__title {
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 22px;
    max-width: 205px;
  }

  .footer {
    padding-top: 60px;
  }
  .footer .footer__content {
    position: relative;
    display: flex;
    flex-direction: row;
  }
  .footer .footer__content .footer__inner {
    flex-wrap: wrap;
    margin: 0;
  }
  .footer .footer__inner {
    flex: 0 0 47%;
  }
  .footer .footer__logo {
    margin: 0;
    flex-direction: column;
    justify-content: start;
    margin-right: 85px;
    margin-left: 10px;
  }
  .footer .footer__logo .logo__inner {
    flex-direction: column;
  }
  .footer .footer__logo .main__logo {
    margin: 0;
    margin-bottom: 100px;
  }
  .footer .footer__logo .yem__logo,
.footer .footer__logo .rss__logo,
.footer .footer__logo .logo__separat {
    margin: 0;
  }
  .footer .footer__logo .logo__separat {
    margin-top: 11px;
    margin-bottom: 20px;
    margin-right: -4px;
  }
  .footer .footer__support {
    margin: 0 10px;
    max-width: 292px;
    margin-top: 40px;
    position: absolute;
    top: 100%;
    left: 0;
    text-align: center;
  }
  .footer hr {
    max-width: 300px;
    margin-top: 331px;
    margin-bottom: 20px;
  }
  .footer .nav__title,
.footer .support__title {
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.115em;
  }
  .footer .nav__item,
.footer .support__text {
    font-size: 14px;
    line-height: 154%;
  }
  .footer .nav__title {
    margin-bottom: 25px;
  }
  .footer .nav__item {
    margin-bottom: 22px;
  }
  .footer .support__btn {
    padding: 15px 73px;
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 42px;
  }
  .footer .support__title {
    margin-bottom: 30px;
  }
  .footer .social__item {
    font-size: 14px;
    line-height: 17px;
  }
  .footer__copyright {
    font-size: 11px;
    line-height: 145%;
    max-width: 300px;
    flex-direction: column;
  }
  .footer__copyright .copyright {
    order: 2;
  }
  .footer__copyright .designed {
    margin-bottom: 10px;
    order: 1;
  }
}